<div class="mt-4">
    <div class="row">
        {{#each courses}}
        <div class="col-sm-6 col-lg-4">
            <div class="card card-course-item" style="margin-top: 16px;">
                <a href="/courses/{{this.slug}}">
                    <img class="card-img-top" style="height: 150px; object-fit: cover;" src="{{this.image}}" alt="{{this.name}}">
                </a>
                <div class="card-body">
                    <a class="card-title" href="/courses/{{this.slug}}" style="text-decoration: none;">
                        <h5 class="card-title">{{this.name}}</h5>
                    </a>
                    <p class="card-text">{{this.description}}</p>
                    <a href="" class="btn btn-primary">Buy Course</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>